.search-input {
    width: 80%;
    padding: 10px;
    border: 1px solid #e1e1e1;
    border-radius: 4px;
    font-size: 16px;
}

table tbody tr {
    background-color: white;
    color: black;
}

table tbody tr a {
    display: table-row;
    text-decoration: none;
    color: inherit;
}

.search-results-table th,
.search-results-table td:not(:last-child) {
    pointer-events: none;
}