.form-container {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: 0 auto;
}

.label-input {
    display: flex;
    align-items: baseline;
}

.required-star {
    color: red
}