.search-input {
    width: 80%;
    padding: 10px;
    border: 1px solid #e1e1e1;
    border-radius: 4px;
    font-size: 16px;
}

.link-btn {
    text-decoration: none;
    background-color: var(--secondary-color);
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-size: 12pt;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.link-btn:hover, button:hover {
    background-color: var(--dark-secondary-color);
}

button, .link-btn {
    margin: 0 10px;
}

table tbody tr {
    background-color: white;
    color: black;
}

table tbody tr a {
    display: table-row;
    text-decoration: none;
    color: inherit;
}

.search-results-table th,
.search-results-table td:not(:last-child) {
    pointer-events: none;
}