.form-container {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: 0 auto;
}

.label-input {
    display: flex;
    align-items: center;
}

.label-input strong {
    white-space: nowrap;
}

.label-input input[type=text] {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    flex-grow: 1;
}

.input-readonly {
    color: grey;
    pointer-events: none;
}
  