.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
    z-index: 1000;
    display: flex;
}

.filter-form {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
}

.filter-container {
    display: flex;
    gap: 20px;
    width: 100%;
    flex-wrap: wrap;
}

.apply-button-container {
    display: flex;
    justify-content: center;
}

.bulk-save {
    margin-top: 20px;
}


.filter-menu {
    background-color: #f6f8fa;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.05);
    margin-top: 20px;
    overflow-y: auto;
    max-height: calc(100vh - 120px);
}

.filter-fieldset {
    border: 1px solid #d0d6dc;
    padding: 10px 20px;
    border-radius: 7px;
    margin-bottom: 20px;
}

.filter-fieldset:last-child {
    margin-bottom: 0;
}

.filter-select,
.filter-input {
    margin-right: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #d0d6dc;
    font-size: 14px;
    width: 100%;
    margin-bottom: 10px;
}

.apply-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.apply-button:hover {
    background-color: #0056b3;
}


.inactive-header {
    opacity: 0.5;
}

.search-bar-container {
    margin: 20px 0;
    padding: 0 20px;
}

.search-bar-container input {
    width: 20%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.edit-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    width: 80%;
    max-width: 400px;
}

.edit-modal__title {
    font-size: 1.5rem;
    margin-bottom: 20px;
    text-align: center;
}

.edit-modal__form {
    display: flex;
    flex-direction: column;
}

.edit-modal__actions {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.edit-modal__save-btn,
.edit-modal__cancel-btn {
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
}

/* Optional: Overlay to darken the rest of the page when modal is open */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 999;
}
