.inactive-header {
    color: grey;
    cursor: pointer;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    z-index: 1000;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.filter-menu {
    background-color: #f9f9f9;
    padding: 15px;
    margin: 10px 0;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    display: flex;
    flex-direction: column;
    gap: 10px; /* Spacing between each filter input */
    transition: box-shadow 0.3s ease-in-out;
}

.filter-menu input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    width: 100%;
    box-sizing: border-box;
}

.filter-menu input[type="date"] {
    font-size: 1rem;
    transition: border 0.3s ease-in-out;
}

/* Inactive header styling */
.inactive-header {
    color: var(--light-shade);
    cursor: pointer;
    transition: color 0.3s ease-in-out;
}

.inactive-header:hover {
    color: var(--dark-shade);
}

.filter-menu:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.filter-menu input:focus {
    border: 1px solid var(--secondary-color);
}

.filter-menu div {
    margin-bottom: 1rem;  /* Add a 1rem margin to the bottom of each div within filter-menu */
}