@import "/src/colors.css";

.App {
  font-family: 'Arial', sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.App-header {
  background: linear-gradient(90deg, var(--primary-color), var(--secondary-color));
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  border-radius: 10px;
  color: white;
}

img {
  width: 200px; /* Adjust the width to make the logo smaller */
  height: auto; /* This maintains the aspect ratio */
}

.home-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  background-color: var(--lightest-shade);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.description {
  max-width: 800px;
  margin-bottom: 2rem;
  text-align: center;
}

.main-button {
  padding: 0.5rem 1rem;
  margin: 10px;
  border: none;
  background-color: var(--secondary-color);
  color: white;
  cursor: pointer;
  border-radius: 10px;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* subtle shadow */
  transition: background-color 0.3s ease-in-out, 
              box-shadow 0.3s ease-in-out, 
              font-size 0.3s ease-in-out;
}

.main-button:hover {
  background-color: var(--dark-secondary-color);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* deeper shadow on hover */
}

footer {
  clear: both;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--primary-color);
  color: white;
  padding: 1rem 0;
  text-align: center;
  padding: 1rem 0;
}

.btn-container {
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  background-color: var(--secondary-color);
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

button:hover {
  background-color: var(--dark-secondary-color);
  transform: translateY(-3px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card {
  width: 75%;
  text-align: center;
  background-color: var(--lightest-shade);
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
  margin: 20px auto;
  margin-bottom: 100px;
}

.card:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid var(--light-shade);
  margin-top: 20px;
}

thead th {
  background-color: var(--lighter-shade);
  padding: 10px;
  border: 1px solid var(--light-shade);
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
}

thead th:hover {
  background-color: var(--light-shade);
}

tbody tr {
  cursor: pointer;
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

tbody tr:hover {
  background-color: #f5f5f5;
}

tbody td {
  padding: 10px;
  border: 1px solid var(--light-shade);
  transition: background-color 0.3s ease-in-out;
}

tbody tr:hover td {
  background-color: var(--lighter-shade);
}

/* Media queries for responsiveness */

@media (max-width: 768px) {
  .description {
    padding: 0 1rem;
  }
}

/* Optional: animations */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.App-header, .home-content, footer {
  animation: fadeIn 1s;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  border-top: 4px solid var(--primary-color);
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.main-button:hover {
  font-size: 1.1rem;
  font-weight: bold;
}