.App {
  font-family: 'Arial', sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.App-header {
    background-color: #282c34;
    min-height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    border-radius: 10px;
    color: white;

}

.home-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  background-color: #f4f4f4;
}

.description {
  max-width: 800px;
  margin-bottom: 2rem;
  text-align: center;
}

.dashboard-button {
  padding: 0.5rem 1rem;
  border: none;
  background-color: #007BFF;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.dashboard-button:hover {
  background-color: #0056b3;
}

footer {
  background-color: #282c34;
  color: white;
  padding: 1rem 0;
  text-align: center;
}

/* Media queries for responsiveness */

@media (max-width: 768px) {
  .description {
    padding: 0 1rem;
  }
}

/* Optional: animations */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.App-header, .home-content, footer {
  animation: fadeIn 1s;
}
