@import "/src/colors.css";

.App {
  font-family: 'Arial', sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.App-header {
  background: linear-gradient(90deg, var(--primary-color), var(--secondary-color));
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  border-radius: 10px;
  color: white;
}

img {
  width: 200px; /* Adjust the width to make the logo smaller */
  height: auto; /* This maintains the aspect ratio */
}

.home-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  background-color: var(--lightest-shade);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grouped-buttons {
  margin-bottom: 10px;
}

.description {
  max-width: 800px;
  margin-bottom: 2rem;
  text-align: center;
}

.main-button {
  padding: 0.5rem 1rem;
  margin: 10px;
  border: none;
  background-color: var(--secondary-color);
  color: white;
  cursor: pointer;
  border-radius: 10px;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* subtle shadow */
  transition: background-color 0.3s ease-in-out, 
              box-shadow 0.3s ease-in-out, 
              font-size 0.3s ease-in-out;
}

.main-button:hover {
  background-color: var(--dark-secondary-color);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* deeper shadow on hover */
}

footer {
  width: 100%;
  height: 100%;
  background-color: var(--primary-color);
  color: white;
  padding: 1rem 0;
  text-align: center;
  margin-top: auto;
}

.btn-container {
  margin: 20px;
  gap: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.action-btn {
  gap: 20px;
  display: flex;
  justify-content: center;
}

button, .link-btn {
  color: white;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 12pt;
  transition: background-color 0.3s ease;
  background-color: var(--secondary-color); /* Default/fallback color */
  cursor: pointer;
  border: none;
}

.link-btn {
  text-decoration: none;
}

.primary-btn {
  background-color: var(--secondary-color);
}

.primary-btn:hover {
  background-color: var(--dark-secondary-color);
}

.secondary-btn {
  background-color: var(--tertiary-color);
}

.secondary-btn:hover {
  background-color: var(--dark-tertiary-color);
}

.tertiary-btn {
  background-color: var(--primary-color);
}

.tertiary-btn:hover {
  background-color: var(--dark-primary-color);
}

button:hover, .link-btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button:disabled, .link-btn:disabled {
  background-color: var(--disabled);
  color: black;
  cursor: not-allowed;
}

.card {
  width: 75%;
  text-align: center;
  background-color: var(--lightest-shade);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
  margin: 20px auto;
  margin-bottom: 100px;
}

.card:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid var(--light-shade);
  margin-top: 20px;
}

thead th {
  background-color: var(--lighter-shade);
  padding: 10px;
  border: 1px solid var(--light-shade);
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
}

thead th:hover {
  background-color: var(--light-shade);
}

tbody tr {
  cursor: pointer;
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

tbody tr:hover {
  background-color: #f5f5f5;
}

tbody td {
  padding: 10px;
  border: 1px solid var(--light-shade);
  transition: background-color 0.3s ease-in-out;
}

tbody tr:hover td {
  background-color: var(--lighter-shade);
}

.form-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
}

.label-input {
  display: flex;
  align-items: baseline;
}

.required-star {
  color: red
}

/* Media queries for responsiveness */

@media (max-width: 768px) {
  .description {
    padding: 0 1rem;
  }
}

/* Optional: animations */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.App-header, .home-content, footer {
  animation: fadeIn 1s;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  border-top: 4px solid var(--primary-color);
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.main-button:hover {
  font-size: 1.1rem;
  font-weight: bold;
}


.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  text-align: center;
}

.button-container {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
  width: 100%; /* Span buttons across the entire screen */
  height: 80%;
}

/* Style for each row of buttons */
.button-row {
  display: flex;
  flex-wrap: nowrap; /* Prevent wrapping within rows */
  justify-content: center;
  width: 100%;
  margin-bottom: 20px; /* Add space between rows */
}

/* Style for each dashboard button */
.dashboard-button {
  flex: 1;
  min-width: 200px; /* Adjust button width as needed */
  padding: 1.5rem 2rem;
  background: linear-gradient(45deg, rgba(255, 153, 102, 0.1), rgba(255, 94, 98, 0.1));
  text-decoration: none;
  border-radius: 10px;
  text-align: center;
  margin: 3px; /* Add space between buttons */
  transition: transform 0.3s ease-in-out;
  color: rgba(255, 255, 255, 1); /* Set text color to 100% opacity */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Add a subtle shadow on hover */
  backdrop-filter: blur(7px); /* Add a blur effect to the background */
}

.dashboard-button:hover {
  transform: scale(1.02); /* Slightly expand on hover */
  background: linear-gradient(45deg, rgba(255, 153, 102, 0.2), rgba(255, 94, 98, 0.2));
  backdrop-filter: none; /* Remove the blur effect on hover */
  box-shadow: 0 9px 20px rgba(0, 0, 0, 0.4); /* Add a subtle shadow on hover */
  transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out, backdrop-filter 0.3s ease-in-out, box-shadow 0.01s;
}

.dashboard-button:not(:hover) {
  transform: scale(0.95); /* Slightly shrink other buttons */
  transition: transform 0.5s ease-in-out; /* Slow down the transform */
}

.dashboard-button .button-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.button-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  opacity: 100%;
}

.button-content h2 {
  font-size: 4rem; /* Adjust the font size as needed */
  margin: 0;
}

#particles-js {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Place particles behind other content */
  background-color: #fff6e3;
}
