body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.supabaseAuth {
  padding: 20px;
  border: 3px solid #ddd; /* light grey border */
  border-radius: 5px;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1); /* subtle shadow */
  width: 20%;
  align-content: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
}

button.supabase-auth-ui_ui-button.c-bOcPnF.c-bOcPnF-cmFMMs-color-primary {
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
}

.c-bOcPnF {
  width: auto !important;
}